/* Handmade artisinal style by jvhester */
/* I found this color palette by googling 'perfect weather' and */
/* plopping the best [1] image result [2] into cssdrive [3]. */

/* 1. This best image result really was the first image result for me. */
/* 2. https://s-media-cache-ak0.pinimg.com/236x/06/21/da/0621daa4221d1db417de0a0b5ada110d.jpg */
/* 3. http://www.cssdrive.com/imagepalette/index.php */


html, body {
    height: 95%;
    background: white;
    background-attachment: fixed;
}

div.header h2 {
    color: #113A6E;
    text-align: center;
}

a {
    color: #2A5D92;
    text-decoration: none;
}
a:visited { color: #113A6E; }
.center {
    text-align: center;
}
.btn-spc {
    margin-left: 0em;
    margin-top:0.5em;
    margin-bottom:0.4em;
}
a.btn {
    padding: 5px 8px;
    border-radius: 3px;
    border: solid 1px gray;
    transition-duration: 0.2s;
}
a.lnk{
    background: green;
    color: white;
}
a.lnk:hover, a.lnk:focus {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

a.del {
    background: pink;
    color: red;
}
a.del:hover, a.del:focus {
    background: red;
    color: white;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

li.no-bullet {
    list-style-type: none;
}

div.content {
}

.container {
    font-family: Helvetica, Arial, sans-serif;
    height: 90%;
    margin-top: 1.5em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    padding-bottom: 24px;
    /* background: linear-gradient(#D3EeFf, #DCE9F2, #e9ff72); */
    /* http://www.publicdomainpictures.net/view-image.php?image=7325&picture=disc-golf-basket */
    background-image: linear-gradient(#D3EeFf, #DCE9F2, white);
    border-radius: 20px;
}

.side-content {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #356094;
}

/* Display the list items side by side */
ul.navbar li {display: inline;}

/* Style the links inside the list items */
ul.navbar li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.navbar li a:hover {
    background-color: #DCE9F2;
    color: #356084;
}

#side-pane {
    background-image: linear-gradient(#D3EEFf, #DCE9F2);
    margin: 1em;
    padding-left: 0.5em;
    border: 1px solid white;
    width: 220px;
    height: 90%;
    float: left;
}

#side-pane ul {
    margin: 0px 6px;
    padding: 0px 6px;
    list-style-type: none;
}
