/* Handmade artisinal style by jvhester */
/* I found this color palette by googling 'perfect weather' and */
/* plopping the best [1] image result [2] into cssdrive [3]. */

/* 1. This best image result really was the first image result for me. */
/* 2. https://s-media-cache-ak0.pinimg.com/236x/06/21/da/0621daa4221d1db417de0a0b5ada110d.jpg */
/* 3. http://www.cssdrive.com/imagepalette/index.php */


html, body {
    height: 95%;
    background: white;
    background-attachment: fixed;
    overflow: auto;
}

h2 {
    color: #113A6E;
    text-align: center;
}

a {
    color: #2A5D92;
    text-decoration: none;
}
a:visited { color: #113A6E; }
.center {
    text-align: center;
}
.btn-spc {
    margin-left: 0em;
    margin-top:0.5em;
    margin-bottom:0.4em;
}
a.btn {
    padding: 5px 8px;
    border-radius: 3px;
    border: solid 1px gray;
    transition-duration: 0.2s;
}
a.lnk{
    background: green;
    color: white;
}
a.lnk:hover, a.lnk:focus {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

a.del {
    background: pink;
    color: red;
}
a.del:hover, a.del:focus {
    background: red;
    color: white;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

li.no-bullet {
    list-style-type: none;
}

.container {
    font-family: Helvetica, Arial, sans-serif;
    height: 95%;
    margin-top: 1.5em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    padding-bottom: 24px;
    /* background: linear-gradient(#D3EeFf, #DCE9F2, #e9ff72); */
    background-image: linear-gradient(#D3EeFf, #DCE9F2, white);
    border-radius: 20px;
}

#login {
    position: absolute;
    left: 85%;
    top: 8%;
    font-size: 1.5rem;
    line-height: 1.33;
    letter-spacing: .2em;
}
#home-link {
    font-size: 18px;
    position: fixed;
    bottom: 2;
    left: 2;
}
#side-pane {
    background-image: linear-gradient(#D3EeFf, #DCE9F2);
    margin: 0.4em;
    border: 1px solid white;
    padding: 0.4em;
    width: 20%;
    height: 90%;
}
