{% extends "base.html" %}
{% block content %}

<div class="top">
    <ul>
        <li>{{ disc.name }}</li>
        <li>{{ disc.description }}</li>
        <li>{{ disc.weight }}</li>
        <li>{{ disc.color }}</li>
        <li>{{ disc.condition }}</li>
        <li>{{ disc.manufacturer.name }}</li>
        <li>{{ disc.user.name }}</li>
    </ul>
</div>

<a href="{{ url_for('showMakerAll', maker=disc.manufacturer.id) }}">SEE ALL DISCS MADE BY {{ disc.manufacturer.name }}</a></br>
<a href="{{ url_for('show_discs', disc_type=disc.disc_type) }}">SEE ALL DISCS IN THE {{ disc.disc_type }} CATEGORY</a></br>

{% endblock %}
