{% extends "base.html" %}
{% block content %}
<h1> Edit Disc {{ disc.name }}</h1>
    <form action="{{ url_for('edit_disc', disc_id=disc_id)}}" method='POST'>
      <dl>
      <dt>Name:</dt>
      <dd><input type ='text' size='30' name='name' placeholder = '{{ disc.name }}'></dd>
      <dt>Description:</dt>
      <dd><textarea name = 'description' rows='5' cols='40' placeholder = '{{ disc.description }}'></textarea></dd>
      <dt>Type of Disc:</dt>
      <dd>
      {% for TYPE in DISCTYPES %}
        {% if disc.disc_type == TYPE %}
        <input type='radio' name='disc_type' value='{{ TYPE }}' checked='checked'>{{ DISC_TYPE_NAMES[TYPE] }}
        {% else %}
        <input type='radio' name='disc_type' value='{{ TYPE }}'>{{ DISC_TYPE_NAMES[TYPE] }}
        {% endif %}
      {% endfor %}
      </dd>
      <dt>Weight:</dt>
       <dd><input type='text' size='30' name='weight' placeholder='{{ disc.weight }}'></dd>
      <dt>Color:</dt>
       <dd><input type='text' size='30' name='color' placeholder='{{ disc.color }}'></dd>
      <dt>Manufacturer:</dt>
      <span style="background-color: yellow;">If the manufacturer is not listed, click <a href="{{url_for('add_maker', user_id=disc.user.id)}}">HERE</a> to add a new one.</span>
      <dd>
        {% for maker in makers %}
            {% if maker.id == disc.manufacturer_id %}
                <input type='radio' name='maker_id_form' value='{{ maker.id }}' checked='checked'>{{ maker.name }}
                <br>
            {% else %}
                <input type='radio' name='maker_id_form' value='{{ maker.id }}'>{{ maker.name }}
                <br>
            {% endif %}
        {% endfor %}
      </dd>
      <dt>Condition:</dt>
      <dd><input type='text' size='30' name='condition' placeholder='{{ disc.condition }}'></dd>
      </dl>
      <input type='submit' value='Edit'>
     <a href = '{{url_for('show_disc', disc_id=disc_id)}}'> Cancel </a>
    </form>
{% endblock %}
