{% extends "base.html" %}
{% block content %}
  <div>
    <h2 id='welcome'>Welcome to the main page</h2>
  </div>
  <div id='login'><a href="{{ url_for('showLogin') }}">Login</a></div>
  <div id='side-pane'>
      <ul>
          <li><a href="{{ url_for('show_discs', disc_type='putter') }}">Putter</a></li>
          <li><a href="{{ url_for('show_discs', disc_type='midrange') }}">Midrange</a></li>
          <li><a href="{{ url_for('show_discs', disc_type='fairwaydriver') }}">Fairway Driver</a></li>
          <li><a href="{{ url_for('show_discs', disc_type='longrangedriver') }}">Long-Range Driver</a></li>
          <li><a href="{{ url_for('show_discs', disc_type='distancedriver') }}">Max-Distance Driver</a></li>
      </ul>
      <h4>Manufacturers</h4>
      <ul>
          {% for maker in makers %}
          <a href="#">{{ maker.name }}</a><br>
          {% endfor %}
  </div>
{% endblock %}
