{% extends "base.html" %}
{% block content %}
<h1> Add New Disc </h1>

<div>
<form action="{{ url_for('add_disc', user_id=user_id) }}" method="POST" enctype=multipart/form-data>
<label for="disc_name_form">Name:</label>
<input type='text' size='30' name='disc_name_form'><br>

Manufacturer:
<br>
{% for maker in makers %}
  <input type ='radio' name='maker_id_form' value='{{ maker.id }}'>{{ maker.name }}
  <br>
{% endfor %}

If the manufacturer is not listed, click <a href="{{url_for('add_maker', user_id=user_id)}}">HERE</a> to add a new one.<br><br>

<h4>Upload picture of disc</h4>
<input type=file name='disc_image_form'><br><br>

Disc Type:<br>
<input type ='radio' name='disc_type_form' value='putter' required>Putter
<br>
<input type ='radio' name='disc_type_form' value='midrange' required>Mid-Range
<br>
<input type ='radio' name='disc_type_form' value='fairwaydriver' required>Fairway Driver
<br>
<input type ='radio' name='disc_type_form' value='longrangedriver' required>Long-Range Driver
<br>
<input type ='radio' name='disc_type_form' value='distancedriver' required>Distance Driver
<br>

Description:
<input type='text' size='80' name='disc_desc_form'><br>

Condition:
<input type='text' size='80' name='disc_cond_form'><br>

Weight:
<input type='text' size='30' name='disc_weight_form'><br>

Color:
<input type='text' size='30' name='disc_color_form'><br>


<input type='submit' value='Add New'>
<a href="/user/{{ user_id }}">Cancel</a><br>

</form>
</div>


{% endblock %}
