{% extends "base.html" %}
{% block content %}

<h2>Welcome {{ user_info.name }}!</h2>
<div><a href="{{ url_for('gdisconnect') }}">LOGOUT</a></div>
<h4>My disc collection</h4>
{% for disc in discs %}
<div><a href="{{ url_for('show_disc', disc_id=disc.id) }}">{{ disc.name }}</a></div>
{% endfor %}

<p>Click <a href="{{url_for('add_disc', user_id=user_info.id)}}">HERE</a> to add a new disc to your collection.</p>

<h4>Manufacturers added by {{ user_info.name }}</h4>
{% for maker in makers %}
<a href="{{ url_for('show_maker', maker_id=maker.id) }}">{{ maker.name }}</a>
<div class='btn-spc'>
    <a href="{{ url_for('edit_manufacturer', maker_id=maker.id) }}" class='btn lnk'>edit</a>
    <a href="{{ url_for('delete_manufacturer', maker_id=maker.id) }}" class='btn del'>delete</a>
</div>
{% endfor %}

{% endblock %}
